data/**
!data/.gitkeep

notebooks/.ipynb_checkpoints/

.env
*.env

.DS_Store

__pycache__/
*.py[cod]

.ipynb_checkpoints

.venv/
venv/

.idea/
.vscode/

logs/
*.log

*.out
*.err

scripts/fine_tuning/checkpoint/**
!scripts/fine_tuning/checkpoint/.gitkeep

# 前端构建和依赖
scripts/frontend/node_modules/
scripts/frontend/dist/
scripts/frontend/.eslintcache

# 其他模型检查点
scripts/checkpoint/**
!scripts/checkpoint/.gitkeep